<VirtualHost *:{{ apache_port }}>
   DocumentRoot /var/www/{{ site_title | lower | regex_replace(' ', '_') }}.com
   <Directory /var/www/{{ site_title | lower | regex_replace(' ', '_') }}.com>
      AllowOverride None
      Require all granted
   </Directory>
</VirtualHost>
